<div class="py-3">
  <section id="terms" class="my-12 mx-auto max-w-4xl">
    <h1 class="text-3xl font-bold my-12 text-left">
      プライバシーポリシー
    </h1>
    <div>
      <h2 class="font-bold text-xl mb-4 text-left">
        お客様から取得する情報
      </h2>
      <p class="mb-2">
        当社は、お客様から以下の情報を取得します。
      </p>
      <ul class="list-disc pl-8 mb-4">
        <li>氏名(ニックネームやペンネームも含む)</li>
        <li>メールアドレス</li>
        <li>写真や動画</li>
        <li>外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報</li>
        <li>Cookie(クッキー)を用いて生成された識別情報</li>
        <li>OSが生成するID、端末の種類、端末識別子等のお客様が利用するOSや端末に関する情報</li>
        <li>当社ウェブサイトの滞在時間、入力履歴、購買履歴等の当社ウェブサイトにおけるお客様の行動履歴</li>
      </ul>

      <h2 class="font-bold text-xl mb-4 text-left">
        お客様の情報を利用する目的
      </h2>
      <p class="mb-2">
        当社は、お客様から取得した情報を、以下の目的のために利用します。
      </p>
      <ul class="list-disc pl-8 mb-4">
        <li>当社サービスに関する登録の受付、お客様の本人確認、認証のため</li>
        <li>お客様の当社サービスの利用履歴を管理するため</li>
        <li>当社サービスにおけるお客様の行動履歴を分析し、当社サービスの維持改善に役立てるため</li>
        <li>お客様からのお問い合わせに対応するため</li>
        <li>当社の規約や法令に違反する行為に対応するため</li>
        <li>当社サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
        <li>当社規約の変更等を通知するため</li>
        <li>以上の他、当社サービスの提供、維持、保護及び改善のため</li>
      </ul>

      <h2 class="font-bold text-xl mb-4 text-left">
        安全管理のために講じた措置
      </h2>
      <p class="mb-2">
        当社が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。
      </p>

      <h2 class="font-bold text-xl mb-4 text-left">
        第三者提供
      </h2>
      <p class="mb-2">
        当社は、お客様から取得する情報のうち、個人データに該当するものについては、あらかじめお客様の同意を得ずに、第三者に提供しません。但し、法令に基づく場合など特定の例外に該当する場合はこの限りではありません。
      </p>

      <h2 class="font-bold text-xl mb-4 text-left">
        アクセス解析ツール
      </h2>
      <p class="mb-2">
        当社は、お客様のアクセス解析のために「Googleアナリティクス」を利用しています。このツールはトラフィックデータの収集のためにCookieを使用していますが、このデータは匿名で収集されており、個人を特定するものではありません。
      </p>

      <h2 class="font-bold text-xl mb-4 text-left">
        プライバシーポリシーの変更
      </h2>
      <p class="mb-2">
        当社は、必要に応じて、このプライバシーポリシーの内容を変更することがあります。変更後のプライバシーポリシーは、本ウェブサイト上に公開することによって効力を生じます。
      </p>

      <h2 class="font-bold text-xl mb-4 text-left">
        お問い合わせ
      </h2>
      <p class="mb-2">
        お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、以下のメールアドレスにご連絡ください。
      </p>
      <p class="mb-2 pl-8">
        ancrx70226@yahoo.co.jp
      </p>

      <h2 class="font-bold text-xl mb-4 text-left">
        事業者の氏名
      </h2>
      <p class="mb-2 pl-8">
        若林 千秋
      </p>
      <p class="text-center mt-12 text-gray-600">2024年02月20日 制定</p>
    </div>
  </section>
</div>
