<% if object.errors.any? %>
  <div id="error_messages" class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4" role="alert">
    <ul class="list-disc list-inside">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>