<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded">
  <nav class="grid grid-flow-col gap-4">
    <%= link_to "利用規約", terms_of_service_path, class: "text-gray-500 transition duration-100 hover:underline active:text-indigo-600" %>
    <%= link_to "プライバシーポリシー", privacy_policy_path, class: "text-gray-500 transition duration-100 hover:underline active:text-indigo-600" %>
  </nav> 
  <aside>
    <p>Copyright ©2024_goshichide</p>
  </aside>
</footer>