<% content_for(:title, t('.title')) %>
<% @ranked_senryus.each do |rank, senryu| %>
  <p class="text-lg font-semibold mb-2">
  <%= rank %>: <%= senryu.favorites_count %> 
  </p>
  <%= render 'senryu', senryu: senryu, rank: rank %>
<% end %>