<% content_for(:title, t('.title')) %>
<div class="senryu-container" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
  <% @ranked_senryus.each do |rank, senryu| %>
    <p class="text-lg font-semibold mb-2">
    <%= "第#{rank}位" %>: <%= senryu.favorites_count %> 
    </p>
    <%= render 'senryu', senryu: senryu, rank: rank %>
  <% end %>
</div>